[submodule "CrystalThirdParty/zlib"]
	path = CrystalThirdParty/zlib
	url = https://github.com/mitsuba-renderer/zlib.git
[submodule "CrystalThirdParty/stb"]
	path = CrystalThirdParty/stb
	url = https://github.com/nothings/stb.git